<section class="contact default-section" id="contact">
    <div class="container">
        <h2 class="contact_title section-title">Request a Locksmith</h2>
        <p class="contact_description">We'll call you back in 5 minutes <br>
            No call centre – you'll speak directly to our technician.</p>
        <div class="contact_content">
            <div class="contact_img">
                <img src="./images/family-img.png" alt="image not found" width="600" height="600">
            </div>
            <div class="contact_form">
                <form action="#">
                    <label for="name">Your Name
                        <input id="name" type="text" placeholder="Name">
                    </label>
                    <label for="phone">Phone Number
                        <input id="phone" type="tel" placeholder="Phone">
                    </label>
                    <label for="location">Location
                        <input id="location" type="text" placeholder="Location">
                    </label>
                    <label for="service">Service
                        <div class="custom-select" data-select>
                            <div class="select-trigger" data-select-trigger>
                                <span class="select-value" data-select-value>Select</span>
                                <img src="./svg/arrow-down.svg" alt="arrow" width="10" height="10"
                                    class="select-arrow">
                            </div>
                            <div class="select-options" data-select-options>
                                <div class="select-option" data-value="emergency-lockout">Emergency
                                    Lockout Service</div>
                                <div class="select-option" data-value="lock-repair">Lock Repair
                                </div>
                                <div class="select-option" data-value="lock-change">Lock Change
                                </div>
                                <div class="select-option" data-value="lock-rekey">Lock Rekey</div>
                                <div class="select-option" data-value="lock-installation">Lock
                                    Installation</div>
                                <div class="select-option" data-value="automotive-emergency">
                                    Automotive Emergency Lockout</div>
                                <div class="select-option" data-value="commercial-security">
                                    Commercial Security Solutions</div>
                                <div class="select-option" data-value="door-repair">Door Repair
                                </div>
                            </div>
                            <select name="service" id="service" required class="is-hidden"
                                aria-hidden="true">
                                <option value="" disabled selected>Select</option>
                                <option value="Emergency Lockout Service">Emergency Lockout Service</option>
                                <option value="Lock Repair">Lock Repair</option>
                                <option value="Lock Change">Lock Change</option>
                                <option value="Lock Rekey">Lock Rekey</option>
                                <option value="Lock Installation">Lock Installation</option>
                                <option value="Automotive Emergency Lockout">Automotive Emergency Lockout
                                </option>
                                <option value="Commercial Security Solutions">Commercial Security Solutions
                                </option>
                                <option value="Door Repair">Door Repair</option>
                            </select>
                        </div>
                    </label>
                    <label for="message">Message (Optional)
                        <textarea id="message" placeholder="Type your message"></textarea>
                    </label>
                    <button type="submit" class="btn btn_big btn_yellow">
                        Submit Request
                    </button>
                    <p class="request-sent is-hidden">
                        Thanks! Our family team will reach out shortly.
                        We’re usually on the road within 15 minutes
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>