<footer id="footer" class="footer">
  <div class="container">
    <div class="footer_head">
      <div class="footer_head-col">
        <a href="/" class="footer_logo">
          <img class="footer_logo-img" src="./images/logo.png" alt="Locksmith logo" width="50"
            height="50">
          <div class="footer_logo-text">
            <img class="" src="./svg/logo-text.svg" alt="Locksmith logo text" width="200"
              height="25">
            <span>Since 1976 Locally Owned and Operated</span>
          </div>
        </a>
        <p class="footer_text">SOS Locksmith is a family-owned, local <br> business built on trust,
          speed, and care.</p>
      </div>
      <div class="footer_head-col">
        <p class="footer_text footer_text-right">Locked out right now? Tap below – <br>
          a family technician will be on their way.</p>
        <a href="tel:+647-556-5685" class="footer_phone btn btn_big btn_yellow">
          <span class="btn-text">Call SOS Locksmith</span>
          <img class="btn-icon" src="./svg/call.svg" alt="call icon" width="20" height="20">
        </a>
      </div>
    </div>
    <div class="footer_content">
      <div class="footer_content-col">
        <div class="js-accordion footer_accordion">
          <div class="js-accordion-item">
            <button class="js-accordion-toggler">
              Do you service condos?
              <img class="accordion-toggler-icon" src="./svg/arrow-to.svg" alt="Accordion icon"
                width="24" height="24">
            </button>
            <div class="js-accordion-content">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci eveniet, nemo
                quis excepturi perspiciatis dignissimos impedit velit, tempora minus earum sed iste
                distinctio, enim facilis!</p>
            </div>
          </div>

          <div class="js-accordion-item">
            <button class="js-accordion-toggler">
              Are you licensed?
              <img class="accordion-toggler-icon" src="./svg/arrow-to.svg" alt="Accordion icon"
                width="24" height="24">
            </button>
            <div class="js-accordion-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore veniam aliquid
                culpa possimus, eveniet nostrum dolorem repudiandae neque quam similique.</p>
            </div>
          </div>
          <div class="js-accordion-item">
            <button class="js-accordion-toggler">
              What’s the call-out fee?
              <img class="accordion-toggler-icon" src="./svg/arrow-to.svg" alt="Accordion icon"
                width="24" height="24">
            </button>
            <div class="js-accordion-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore veniam aliquid
                culpa possimus, eveniet nostrum dolorem repudiandae neque quam similique.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_content-col">
        <ul class="footer_menu">
          <li><a href="" class="footer_link link link_white">Services</a></li>
          <li><a href="" class="footer_link link link_white">About</a></li>
          <li><a href="" class="footer_link link link_white">Our Promise</a></li>
          <li><a href="" class="footer_link link link_white">How It Works</a></li>
          <li><a href="" class="footer_link link link_white">Reviews</a></li>
        </ul>
      </div>
      <div class="footer_content-col">
        <a href="tel:+647-556-5685" class="footer_phone no_bg btn btn_big">
          647-556-5685
        </a>
      </div>
    </div>
    <p class="footer_copyright">
      Copyright {{siteName}} {{currentYear}}
    </p>
  </div>
</footer>