<header id="header" class="header">
  <div class="header_info-banner">
    <p>24/7 Emergency Response</p>
  </div>
  <div class="header_container container">
    <nav class="header_nav">
      <a href="/" class="header_logo">
        <img class="header_logo-img" src="./images/logo.png" alt="Locksmith logo" width="50"
          height="50">
        <img class="header_logo-text" src="./images/logo-text.png" alt="Locksmith logo text"
          width="270" height="50">
      </a>
      <ul class="header_menu">
        <li><a href="/#services" class="header_link link">Services</a></li>
        <li><a href="/#about" class="header_link link">About</a></li>
        <li><a href="#contact" class="header_link link">Contact</a></li>
      </ul>
      <a href="tel:+647-556-5685" class="header_phone btn btn_big btn_orange">
        <img class="phone-icon" src="./svg/call.svg" alt="Phone" width="20" height="20">
        <span class="phone-number">647-556-5685</span>
      </a>
    </nav>
  </div>
</header>