<section class="promise default-section">
    <div class="container">
        <h2 class="promise_title section-title">Our Promise</h2>
        <div class="promise_list">
            <div class="promise_item">
                <div class="promise_item-img">
                    <img class="promise_item-icon" src="./svg/receipt.svg" alt="receipt" width="100"
                        height="100">
                    <span class="promise_item-number">01</span>
                </div>
                <h3 class="promise_item-title">Transparent pricing before we start.</h3>
            </div>
            <div class="promise_item">
                <div class="promise_item-img">
                    <img class="promise_item-icon" src="./svg/security.svg" alt="security"
                        width="100" height="100">
                    <span class="promise_item-number">02</span>
                </div>
                <h3 class="promise_item-title">Licensed, bonded, and insured technicians.
                </h3>
            </div>
            <div class="promise_item">
                <div class="promise_item-img">
                    <img class="promise_item-icon" src="./svg/certificate.svg" alt="certificate"
                        width="100" height="100">
                    <span class="promise_item-number">03</span>
                </div>
                <h3 class="promise_item-title">Lifetime guarantee on new lock installations.
                </h3>
            </div>
        </div>
        <div class="promise_map">
            <img src="./images/map.png" alt="image not found" width="700" height="550">
        </div>
</section>