<section class="reviews-testimonials default-section" id="reviews">
    <div class="container">
        <h2 class="reviews-testimonials_title section-title">Customer Testimonials</h2>
        <a href="#" class="reviews-testimonials_link link link_blue">
            <span>Leave a Review</span>
            <img src="./svg/arrow-to.svg" alt="arrow" width="20" height="20">
        </a>
        <div class="swiper-body">
            <div class="swiper reviews-testimonials_swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="reviews_item">
                            <span class="reviews_item-rating">5,0</span>
                            <img class="reviews_item-stars" src="./images/stars.png" alt="stars"
                                width="100" height="100">
                            <div class="reviews_item-reviewer">
                                <img src="./images/reviewer.png" alt="reviewer" width="100"
                                    height="100">
                                <span>J.C. Toronto</span>
                            </div>
                            <p class="reviews_text">I recommend SOS Locksmith Toronto to my family, friends and clients all the time and they never come up short. I love being able to recommend such a reliable local business. Keep up the good work, SOS Locksmith Toronto.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews_item">
                            <span class="reviews_item-rating">5,0</span>
                            <img class="reviews_item-stars" src="./images/stars.png" alt="stars"
                                width="100" height="100">
                            <div class="reviews_item-reviewer">
                                <img src="./images/reviewer-2.png" alt="reviewer" width="100"
                                    height="100">
                                <span>Samantha M. Toronto</span>
                            </div>
                            <p class="reviews_text">I recommend SOS Locksmith Toronto to my family,
                                friends
                                and
                                clients all the time and they never come up short. I love being able
                                to
                                recommend
                                such a reliable local business. Keep up the good work, SOS Locksmith
                                Toronto.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews_item">
                            <span class="reviews_item-rating">5,0</span>
                            <img class="reviews_item-stars" src="./images/stars.png" alt="stars"
                                width="100" height="100">
                            <div class="reviews_item-reviewer">
                                <img src="./images/reviewer-1.png" alt="reviewer" width="100"
                                    height="100">
                                <span>Mark M. Toronto</span>
                            </div>
                            <p class="reviews_text">Price is important but what I like about SOS locksmith is their sharing of expertise. Since they do this 24/7 they see everything you can imagine in break-ins and security issues and take the time to give you advice to save you money in the long run.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="reviews_item">
                            <span class="reviews_item-rating">5,0</span>
                            <img class="reviews_item-stars" src="./images/stars.png" alt="stars"
                                width="100" height="100">
                            <div class="reviews_item-reviewer">
                                <img src="./images/reviewer-3.png" alt="reviewer" width="100"
                                    height="100">
                                <span>Melissa R. Mississauga</span>
                            </div>
                            <p class="reviews_text">I'm busy and I don't have time to worry about if the locksmith knows what he is doing. These guys are incredibly fast even nights and weekends and for the past two years there has never been an issue with any tech. Fast, fair pricing and no newbies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-buttons">
                <div class="swiper-button-prev">
                    <img src="./svg/arrow-right.svg" alt="image not found" width="20" height="20">
                </div>
                <div class="swiper-button-next">
                    <img src="./svg/arrow-right.svg" alt="image not found" width="20" height="20">
                </div>
            </div>
        </div>
    </div>
</section>