@use '../base/variables'as *;
@use '../base/adaptive'as *;
@use '../base/mixins'as *;
@use '../vendors/include-media'as *;

.js-accordion {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    @include media ("<tablet") {
        gap: 24px;
    }

    &-item {
        width: 100%;

        &._active {
            .js-accordion-toggler {
                color: $blue-brand-500;
                transition: $animation-speed;
            }

            .accordion-toggler-icon {
                rotate: 90deg;
                transition: $animation-speed;
            }
        }
    }

    &-toggler {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        padding: 0 0 16px 0;
        border: none;
        border-bottom: $border-width-l solid $blue-brand-900;
        color: $blue-brand-900;
        background-color: transparent;

        @include adaptive-value("font-size", 36, 24, 1);
        line-height: $heading-m-line-height;
        font-weight: $font-weight-medium;

        transition: $animation-speed;
    }

    .accordion-toggler-icon {
        width: 24px;
        height: 24px;
        transition: $animation-speed;
    }

    &-content {
        display: none;
        padding-top: 12px;

        p {
            color: $blue-brand-900;
            @include adaptive-value("font-size", 24, 18, 1);
            font-weight: $font-weight-medium;
            line-height: $heading-xs-line-height;
        }
    }
}